
# Xcode / OS X

.DS_Store
*.o
*.pbxuser
*.perspectivev3
Xcode/Gravit/build

# Visual Studio

*.dll
*.suo
*.sdf
*.opensdf

# *nix

.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
dist/
gravit
install-sh
missing
out/
src/config.h
src/config.h.in
src/stamp-h1

